/* CSS VARIABLES */
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/* COLORS */
:root {
  --first-color: #f55139;
  --second-color: #ebe7d9;
  --bg-color: #0f222d;
}

/* TEXT AND STUFF */
:root {
  --body-font: "Varela", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/* MARGINS */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Z-INDEX */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* BASE */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: var(--bg-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* CLASS CSS */
.section-title {
  position: relative;
  font-size: var(--big-font-size);
  color: var(--second-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title:hover {
  cursor: default;
}

/* .section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
} */

.section-titleP {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-titleP::after {
  position: absolute;
  content: "";
  width: 84px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* LAYOUT */

#particles-js {
  position: relative;
  width: 100%;
  background-size: cover;
}

.in {
  /* animation: spanA 2s; */
  /* transition: 3s; */
  animation-name: rubberBand;
  color: #08fdd8;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  display: inline-block;
}

.out {
  transition: 3s;
  color: var(--second-color);
}

/* .spanA:hover {
  animation-name: rubberBand;
  color: #08fdd8;
} */

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

#thinText {
  display: none;
  font-size: 15px;
  font-weight: 100;
}

/* @keyframes spanA {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  0% {
    transform: translateY(0);
  }
} */

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.headerOne {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--bg-color);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/* NAV BAR */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

.none {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: absolute;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 1000%;
    padding: 2rem;
    background-color: rgba(113, 129, 109, 0.95);
    transition: 0.5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: #3c0000;
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: #698996;
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* ACTIVE HAMBURGER MENU */
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.show {
  right: 0;
}

/* HOME */

/* #front {
  position: absolute;
} */

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title:hover {
  cursor: default;
}

.home__title-color {
  color: var(--first-color);
  transition: 2s;
}

.home__title-color:hover {
  cursor: default;
  color: #568259;
  transition: 1s;
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 295px;
}

@media screen and (max-width: 340px) {
  .home__img {
    position: absolute;
    right: 30px;
    top: 360px;
    bottom: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 300px) {
  .home__img {
    position: absolute;
    right: 30px;
    top: 360px;
    bottom: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 451px) {
  .home__img {
    position: absolute;
    right: 30px;
    bottom: 100px;
    width: 250px;
  }
}

/* BUTTONS */
.button {
  display: inline-block;
  /* background-color: var(--first-color); */
  color: var(--first-color);
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border: 2px solid var(--first-color);
  border-radius: 0.5rem;
}

.button:hover {
  transition: 1s;
  color: var(--first-color);
  background-color: var(--second-color);
}

/* ABOUT */
.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-4);
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}

/* SKILLS */

.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__img {
  justify-self: center;
}

.skills__img img {
  width: 200px;
  border-radius: 0.5rem;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(235, 231, 217, 0.171);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 100%;
}

.skills__css {
  width: 100%;
}

.skills__javascript {
  width: 100%;
}

.skills__git {
  width: 100%;
}

.skills__img {
  border-radius: 0.5rem;
}

/* PROJECTS */

.projects {
  text-align: center;
}

.projects__container {
  row-gap: 2rem;
}

.projects__img {
  box-shadow: 0 4px 25px rgba(235, 231, 217, 0.171);
  border-radius: 0.5rem;
  overflow: hidden;
}

.projects__img img {
  transition: 1s;
  cursor: pointer;
}

.projects__img img:hover {
  transform: scale(1.1);
}

/* CONTACT */
.contact__input {
  background-color: var(--bg-color);
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #ebe7d9;
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
  border: 2px solid var(--first-color);
  background-color: var(--bg-color);
}

.contact__button button {
  border: 2px solid var(--first-color);
}

/* FOOTER */
.footer {
  background-color: var(--second-color);
  color: var(--bg-color);
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: var(--bg-color);
  margin: 0 var(--mb-2);
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .section-titleP {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-6);
    text-align: center;
  }

  .section-titleP::after {
    position: absolute;
    content: "";
    width: 150px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3rem;
    background-color: var(--first-color);
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  /* .nav__logo {
  } */

  .home__social-icon {
    width: 20px;
  }

  .nav__link {
    color: #ebe7d9;
  }

  .home {
    height: 100vh;
  }

  .home__data {
    align-self: flex-end;
  }

  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home__img {
    width: 350px;
    left: 50%;
    bottom: 15%;
  }

  /* .skills__data {
    justify-content: space-between;
  } */

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  #about {
    margin-top: 100px;
  }

  #projects {
    margin-top: 100px;
  }

  #contact {
    margin-top: 100px;
  }

  .skills__container {
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }

  .about__img img {
    width: 300px;
  }

  .projects__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1028px) {
  .home__img {
    width: 550px;
    bottom: 15%;
  }

  .contact__form {
    width: 360px;
  }

  .contact__container {
    justify-items: center;
  }
}

/* @media screen and (min-width: 1380px) {
  .projects__container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
} */

@media screen and (min-width: 1024px) {
  .home__img {
    width: 400px;
    bottom: 15%;
  }

  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    right: 10%;
  }
}
/* loader */
.wrap-loader {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #000;
}

.loader {
  position: relative;
  width: 20rem;
  height: 20rem;
}
.loader::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8.6956521739rem;
  height: 8.6956521739rem;
  background: #000;
  border-radius: 50%;
}
.loader .box {
  position: absolute;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}
.loader .box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.1;
}
.loader .box:nth-child(1) {
  top: 0;
  left: 0;
}
.loader .box:nth-child(1)::before {
  top: 50%;
  left: 50%;
  background: #4185f3;
  -webkit-animation: lightMe1 4s ease-out infinite normal;
  animation: lightMe1 4s ease-out infinite normal;
}
.loader .box:nth-child(2) {
  top: 0;
  right: 0;
}
.loader .box:nth-child(2)::before {
  top: 50%;
  right: 50%;
  background: #33a753;
  -webkit-animation: lightMe2 4s ease-out infinite normal;
  animation: lightMe2 4s ease-out infinite normal;
}
.loader .box:nth-child(3) {
  bottom: 0;
  right: 0;
}
.loader .box:nth-child(3)::before {
  bottom: 50%;
  right: 50%;
  background: #fabb04;
  -webkit-animation: lightMe3 4s ease-out infinite normal;
  animation: lightMe3 4s ease-out infinite normal;
}
.loader .box:nth-child(4) {
  bottom: 0;
  left: 0;
}
.loader .box:nth-child(4)::before {
  bottom: 50%;
  left: 50%;
  background: #e94234;
  -webkit-animation: lightMe4 4s linear infinite normal;
  animation: lightMe4 4s linear infinite normal;
}
.loader .wrap-text {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.loader .text {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-animation: slider 8s ease-in infinite;
  animation: slider 8s ease-in infinite;
}
.loader .text span {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 2em;
  color: #fff;
}

.loader-text {
  color: #fff;
  transform: translateY(-2rem);
  letter-spacing: 6px;
  opacity: 0.2;
  -webkit-animation: blink 1s ease-out infinite alternate;
  animation: blink 1s ease-out infinite alternate;
}

@-webkit-keyframes lightMe1 {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lightMe1 {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lightMe2 {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lightMe2 {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lightMe3 {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lightMe3 {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lightMe4 {
  0% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lightMe4 {
  0% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slider {
  0% {
    transform: translateY(0);
  }
  10.5% {
    transform: translateY(0);
  }
  12.5% {
    transform: translateY(-40px);
  }
  23% {
    transform: translateY(-40px);
  }
  25% {
    transform: translateY(-80px);
  }
  35% {
    transform: translateY(-80px);
  }
  37.5% {
    transform: translateY(-120px);
  }
  47.5% {
    transform: translateY(-120px);
  }
  50% {
    transform: translateY(-160px);
  }
  60% {
    transform: translateY(-160px);
  }
  62.5% {
    transform: translateY(-200px);
  }
  72.5% {
    transform: translateY(-200px);
  }
  75% {
    transform: translateY(-240px);
  }
  85% {
    transform: translateY(-240px);
  }
  87.5% {
    transform: translateY(-280px);
  }
  100% {
    transform: translateY(-280px);
  }
}
@keyframes slider {
  0% {
    transform: translateY(0);
  }
  10.5% {
    transform: translateY(0);
  }
  12.5% {
    transform: translateY(-40px);
  }
  23% {
    transform: translateY(-40px);
  }
  25% {
    transform: translateY(-80px);
  }
  35% {
    transform: translateY(-80px);
  }
  37.5% {
    transform: translateY(-120px);
  }
  47.5% {
    transform: translateY(-120px);
  }
  50% {
    transform: translateY(-160px);
  }
  60% {
    transform: translateY(-160px);
  }
  62.5% {
    transform: translateY(-200px);
  }
  72.5% {
    transform: translateY(-200px);
  }
  75% {
    transform: translateY(-240px);
  }
  85% {
    transform: translateY(-240px);
  }
  87.5% {
    transform: translateY(-280px);
  }
  100% {
    transform: translateY(-280px);
  }
}
@-webkit-keyframes blink {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.75;
  }
}
@keyframes blink {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.75;
  }
}
